{% extends "base.html" %}

{% block content %}

<h1>Cookies Policy</h1>
<h4>This Cookie Policy is intended to inform you how Olympus Sports Centre uses technology called &ldquo;cookies&rdquo; and server-side tagging. It is also intended to assist you in making informed decisions when using our website, so please take a minute to read and understand the content which should also be read in conjunction with our&nbsp;<a title="Privacy" href="/privacy">Privacy Policy</a>.</h4>
<h3>What is a cookie?</h3>
<p>A cookie, also known as a browser cookie, is a text file containing small amounts of information which a server may download to your computer, mobile or tablet when you visit a website or use an app.</p>
<p>There are different types of cookies which are used to do different things, such as letting you navigate between different pages on a website efficiently, remembering preferences you have given and helping us to identify ways to improve your overall site experience. Others are used to provide you with advertising which is more tailored to your interests or to measure the number of site visits and the most popular pages users visit.</p>
<h3>How does Olympus Sports Centre use cookies?</h3>
<p>Olympus Sports Centre only uses browser cookies to measure non-personal information, for example to learn about the behaviour of visitors to our website and how they respond to our marketing communications. The more we learn, the better we are able to provide relevant and interesting content and services. The first person cookies set by Olympus Sports Centre do not contain any personally identifiable information.</p>
<h4>Strictly necessary cookies</h4>
<p>'Strictly necessary' cookies let you move around the website and use essential features. These cookies don't gather any information about you that could be used for marketing or remembering where you've been on the internet. Accepting these cookies is a condition of using the website, however, as they are required for the proper operation of the website. If you prevent them, we cannot guarantee how it will perform.</p>
<h4>Analytics cookies / Performance cookies</h4>
<p>We use these cookies to collect information about how visitors use our website, including details of the site where the visitor has come from and the total number of times a visitor has been to our website. By using our website, you agree that we can place these types of cookies on your device. We use the information to improve our website and enhance the experience of its visitors. All information these cookies collect is aggregated and is therefore anonymous.</p>
<h4>DO WE USE COOKIES?</h4>
<p>We use cookies (small text files stored in your browser). These collect information that tells us how you use our websites, web-related products and services. The use of cookies does not give us access to the rest of your computer.</p>
<p>This, in turn, helps us make our website relevant to your interests and needs. We may use a persistent cookie (a cookie that stays linked to your browser) to record your details so we can recognise you if you visit our website again.</p>
<p>You can choose to refuse cookies, or set your browser to let you know each time a website tries to set a cookie.</p>
<p>Please note however that if you disable our cookies you may not be able to access certain services or facilities on our sites and your use of our sites may be restricted. This could include joining or logging in to your members area.</p>
<h4>What cookies are used on this website?</h4>
<p>To find out what cookies are used on this website, please click the top navigation and select 'renew cookie consent'. Then select 'decline / manage cookies'. On the privacy controls screen you can expand each group of cookies to see which cookies are being used on this website and their purpose.</p>


<!-- Taken from pure gym policy -->
{% endblock content %}