{% extends "ebase.html" %}

{% block content %}


<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

    <h1 style="text-align:center;"><strong>About Us</strong></h1>

    <h2>Welcome to our Olympus Sports Centre!</h2>
    <h4>As a team member of delicated staff members, we are committed to prividing a high-qulaity experience to all our clients</h4>
    <h4>From fitness enthusiats to casual excercises, our goal is to help each individual achieve their health and wellness goals through personalised attention and support.</h4>
    <h4>Get to know us better by reading more about our mission and valuse below.</h4>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <h2><strong>Our Mission and Values</strong></h2>
    <h4>At our sports centre, we are passionate about helping people live their healthiest lives.</h4>
    <h4>Our mission is to provide a safe and inclusive environment where individuals can feel comfortable, motivated, and supported in their fitness journey.
        We strive to create a community of like-minded individuals who are dedicated to achieving their fitness goals and making positive changes in their lives.
    </h4>

    <p>&nbsp;</p>

    <h4>To achieve our mission, we are guided by the following core values:</h4>
    <ol>
        <li><strong>Passion: </strong>We are passionate about what we do and are committed to providing the best possible experience for our clinets.</li>
        <li><strong>Expertise: </strong>Our staff members are experts in their fields, with the knowledge and skills necessary to help each individual reach their full potential.</li>
        <li><strong>Community: </strong>We believe that fitness is about more than just individual goals; it's about building a supportive community of individuals who share a common vision for a healthier future.</li>
        <li><strong>Innovation: </strong>We are always looking for new and innovative ways to help our clients achieve their goals and stay motivated on their fitness journey.</li>
        <li><strong>Integrity: </strong>We are committed to operating with integrity in all of our interactions with clients, colleagues, and the wider community.</li>
    </ol>
    <h4>We are proud to be part of a team that shared these valuse and is dedicated to helping our clients live their best lives.</h4>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <h2><strong>Contact Information</strong></h2>
    <h4>Location: </h4>
    <p><a href="https://www.google.com/maps/search/?api=1&query=Woodhouse%2C+Leeds+LS2+9BW">Woodhouse, Leeds LS2 9BW</a></p>
    <p></p>

    <p>&nbsp;</p>

    <h4>Email: </h4>
    <p>📩 Ayesha Rahman <a href="mailto:sc21ar@leeds.ac.uk">sc21ar@leeds.ac.uk</a></p>

    <p>📩 Geeyoon Lim <a href="mailto:ml20g2l@leeds.ac.uk">ml20g2l@leeds.ac.uk</a></p>

    <p>📩 Hanmoon Hwang <a href="mailto:sc21h2h@leeds.ac.uk">sc21h2h@leeds.ac.uk</a></p>

    <p>📩 Natalie Leung <a href="mailto:sc21nl@leeds.ac.uk">sc21nl@leeds.ac.uk</a></p>

    <p>📩 Sandra Guran <a href="mailto:sc21samg@leeds.ac.uk">sc21samg@leeds.ac.uk</a></p>


    <p>&nbsp;</p>

    <h4>Contact number: </h4>

  </body>
</html>

{% endblock %} 