{% extends "ebase.html" %}

{% block content %}

<h1>Cookies Policy</h1>
<h4>This Cookie Policy explians how Olympus Sports Centre ("we", "us", or "our") usus cookies on our admin page, and how you can manage your cookie preferences.</h4>
<h3>What are cookies?</h3>
<p>Cookies are small text files that are stored on your device (computer, tablet, or mobile device) when you visit a website.</p>
<p>Cookies can be used to remember your preferences, login information, and other data related to your visit.</p>
<h3>How we use cookies?</h3>
<p>We use cookies to enhance your browsing experience and improve our admin page. Specially, we use cookies to:</p>
<ul>
    <li>Remember your login information so that you can access your account and manage your centre information</li>
    <li>Analyse your behaviour on our admin page to improve its performance and usability</li>
    <li>Customise your experience by remembering your preferences and settings</li>
    <li>Provide targeted advertisements that are relevant to your interests</li>
</ul>

<h4>Types of cookies we use?</h4>
<p>We use both sessions cookies and persistent cookies on our admin page. Session cookies are templorary cookies that are deleted when you close your browser,
    while persistent cookies remain on your device until they expire or are deleted.</p>
<h4>Changes to this policy?</h4>
<p>We may update this Cookie Policy from to time to reflect changes in our practices or for other operational, legal, or regulatory reasons.
    We encourage you to review this policy periodically for any updates or changes.</p>
<h4>Contact us?</h4>
<p>If you have any questions or concerns about our Cookie Policy, please contact us.</p>


{% endblock content %}