

{% extends "base.html" %}{% block content %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/elder.css') }} />
<body>
    <div class="page-wrap">
    <h3><strong>BEST EXERCISE FOR OSTEOPOROSIS</strong></h3>
    <p>Osteoporosis is a condition which causes the bones to become brittle and weak. In the early stages, there are little to no symptoms, which means you may not be aware you have this condition until it&rsquo;s already progressed. In the UK alone, over 3 million people have osteoporosis</a>&nbsp;with 500,000 suffering fractures as a result each year.</p>
    <h4>HOW EXERCISE CAN HELP OSTEOPOROSIS</h4>
    <p>Weight bearing exercise such as strength training causes the muscles and tendons to apply force on the bone. In the same way that body responds to tears in the muscle by growing the muscle, it responds to force on the bone by building more bone. This can help to prevent bone loss and even improve bone mass, as long as your nutrition is adequate. Exercises can also help improve balance and reduce the likelihood of the falls which can lead to fractures.</p>
    <div class="exercises">
        <h4><strong>MACHINE EXERCISES TO HELP</strong></h4>
        <p>1. Leg Press</p>
        <p>2. Lat Pull Down</p>
        <p>3. Chest Press</p>
        <p>4. Shoulder Press</p>
        <p>5. Bicep Curl</p>
    </div>
    <div class="homeworkouts">
    </div><h3><strong>HOME WORKOUTS</strong></h3>
        <p>The plank is one of the simplest bodyweight exercises you can do &ndash; why? Because not only does it not require any equipment, but the long list of benefits it provides makes it a super effective form of exercise. Planking can help develop your core, arms, and glutes, but it&rsquo;s worth learning the proper technique</a>&nbsp;first.</p>
        <p>Getting into the plank position is easy, but the tricky part is maintaining your position over a period of time. For beginners, this can be tough as your muscles may not be used to it, but adding a plank to the end of your usual routine will help you get a more varied workout, as well as improving your core conditioning.</p>
        <p>If planking is part of your regular routine however, maybe you should consider mixing things up with plank variations. Similarly, if you find the standard plank isn&rsquo;t doing it for you, or you just want to try something different, there are several ways to plank that are excellent for creating well-defined abs.</p>
        <h4>HOW MANY TYPES OF PLANKS ARE THERE?</h4>
        <p>For greater plank variation, try using these 10 different examples in your workout:</p>
        <ul class="planks">
            <li>
            <h4>Forearm Plank</h4>
            </li>
            <li>
            <h4>High Plank</h4>
            </li>
            <li>
            <h4>Side Plank</h4>
            </li>
            <li>
            <h4>Side Star Plank</h4>
            </li>
            <li>
            <h4>Walking Plank</h4>
            </li>
            <li>
            <h4>Weighted Plank</h4>
            </li>
            <li>
            <h4>Raised Leg Plank</h4>
            </li>
            <li>
            <h4>Reverse Plank</h4>
            </li>
            <li>
            <h4>Extended Plank</h4>
            </li>
            <li>
            <h4>Rolling Plank</h4>
            </li>
        </ul>
    </div>
    </div>
</body>

{% endblock %}

<!-- Link: https://www.puregym.com/?utm_medium=cpc&gclid=Cj0KCQjwk7ugBhDIARIsAGuvgPZBFKL6e27ddyAqBO0vFnWq5oq0l2F4MEvxp7w1RdVJ4pqpg5LZ3l8aAnsQEALw_wcB&gclsrc=aw.ds -->