{% extends "base.html" %}

{% block content %}




  <head>
    <link rel="stylesheet" href={{ url_for('static', filename='css/qna.css') }} />
    <title></title>
  </head>


  <h1 style="text-align: center;">Thinking of joining us? Perfect!!</h1>
    <p>&nbsp;</p>
    <body>
    <p><strong>Here are some questions you can look at to help your signing up and future journey easier with us:)</p></strong>
    <p >&nbsp;</p>
    <table>
    <tr class="gray"><p style="background-color: lightgrey;"><b> What are the operating hours of the sports centre?</b>
    <br><br>
    Our Olympus Sports Centre is open from 8:00 am to 10:00 pm every day.</p></tr>
    
    <p>&nbsp;</p>

    <tr class="white"><p><b>How do I become a member of the sports centre?</b></p></tr>
    <tr class="white"><p>You can become a member by visiting our website and registering an account to buy a membership or by stopping by our front desk to fill out a membership application.</p></tr>
    <tr class="white"><p>To register please click<a href="/signupForm" class="btn" style="text-decoration: underline;">here</a></p></tr>
    <tr class="white"><p>To buy a membership click<a href="/membership" class="btn" style="text-decoration: underline;">here</a> (You must know that to buy one you will be required to register first):</p></tr>
    

    <p>&nbsp;</p>

    <tr class="gray"><p style="background-color: lightgrey;"><b>What equipment is available in the fitness room?</b><br><br>
    Our fitness has a variety of equipment including cardio machines, free weights, weight machines, and functional training equipment. You can look at our equipments available<a href="/activities" class="btn" style="text-decoration: underline;">here</a></p></tr>


    <p>&nbsp;</p>

    <tr class="white"><p><b>Is there a sauna or steam room in the sports centre?</b></p></tr>
    <tr class="white"><p>Sorry, we don't have a sauna or a steam room. Hopefully we will try to get one in the near future to provide a better experience!</p></tr>
    
    <p>&nbsp;</p>

    <tr class="gray"><p style="background-color: lightgrey;"><b>Can I get a student discount?</b>
    <br><br>As of now we are not providing with a student discount but do keep a lookout for one in the near future!</p>
   
    <p>&nbsp;</p>

    <tr class="white"><p><b>I'm struggling to get through my workouts. What should I do?</b></p></tr>
    <tr class="white"><p>During your first few weeks of a new fitness routine, 
        there's a chance you might struggle to reach the end of a workout or you may need to take regular breaks. 
        That's ok! The important thing is to keep persisting each day and your fitness will slowly build. We are here in every step of your journey to provide with anything you might need!</p></tr>

    <p>&nbsp;</p>

    <tr class="gray"><p style="background-color: lightgrey;"><b>Is there a cafe or snack bar in the sports centre?</b>
    <br><br>Yes, we have a cafe that serves healthy snacks and drinks for our members. Please follow the signs in front of the reception at the main building for any refreshments you would like:)</p></tr>

    <p>&nbsp;</p>

    <tr class="white"><p><b>Is there a pro shot where I can purchase sports equipment?</b></p></tr>
    <tr class="white"><p>Of course, we have a pro shop that sells sports equipment, apparel, and accessories. Please confirm more details about this with the staff!</p></tr>

    <p>&nbsp;</p>

    <tr class="gray"><p style="background-color: lightgrey;"><b>Do I need to warm up before my workouts?</b>
    <br><br>You bet! We know it can be tempting to get straight into it, especially if you're short on time, but a proper warm-up is really important.</p></tr>

    <p>&nbsp;</p>

    <tr class="white"><p><b>How old do I need to be to join?</b> </p></tr>
    <tr class="white"><p>You must be 15 years or above to join. We believe in exercising from a younger age to keep a healthier body and mind. </p></tr>

    <p>&nbsp;</p>

    <tr class="gray"><p style="background-color: lightgrey;"><b>Is there a disabled access?</b>
    <br><br>Yes, we have arrangements made in case you need any kind of assisstance. To do so you will need to contact any of the emails below and we will reach out to you within 12 hours. </p></tr>

    <p>&nbsp;</p>

    <tr class="white"><p><b>Can I leave my things in the locker room overnight?</b></p></tr>
    <tr class="white"><p>Unfortunately we do not recommend you do so since the cleaning staff will go through each locker at night to help keep the centre bright and shiny everyday for a better start of the say!  </p></tr>

    <p>&nbsp;</p>

    <tr class="gray"><p style="background-color: lightgrey;"><b>Are classes included in my membership?</b>
    <br><br>Yup!! Classes are included in your membership! </p></tr>

    <p>&nbsp;</p>

    <tr class="white"></tr><p><b>How do I book a class?</b></p></tr>
    <tr class="white"></tr><p>You can book a class from<a href="/booking" class="btn" style="text-decoration: underline;">here</a>!</p></tr>

    <p>&nbsp;</p>

    <tr class="gray"><p style="background-color: lightgrey;"><b>Can I park for free?</b>
    <br><br>If you have a membership, parking is free!! </p></tr>

    <p>&nbsp;</p>

    <tr class="white"></tr><p><b>Still got any questions?</b></p></tr>
    <p><a href="/aboutUs" class="jump" style="color: black; text-decoration: underline;">Contact us</a></p>

    <p>&nbsp;</p>
  </table>  
  </body>


{% endblock %} 
